<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header') %>
    
    <div class="container my-5">

        <h2 style="color:#AAA" > Contact Listing</h2>
        
        <div class="row">
            <% data.forEach( (val) => { %>
                <div class="col-3">
                    <div class="card my-3" style="width: 15rem;">
                        <img src="/uploads/<%= val.image %>" class="card-img-top" alt="XXX">
                        <div class="card-body">
                            <h5 class="card-title"><%= val.first_name %></h5>
                            <p class="card-text"><%= val.email  %></p>
                            <a href="/contact/getcontact/<%= val.id %>" class="btn btn-primary">More</a>
                        </div>
                    </div>
                </div>
            <% })  %>
        </div>  
          
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <% for(let i = 1 ; i <= totalPages ; i++ ) { %>
                    <li class="page-item"><a class="page-link" href="/contact/contactListing/<%= i %>"><%= i %></a></li>
                <% } %>                
            </ul>
        </nav>  

        
    </div>


    <%- include('../partials/footer') %>
</body>
</html>